# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native folders to ignore (important for managed workflow)
# android/
# ios/

# Native-related sensitive files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler health check
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS system files
.DS_Store
*.pem

# local environment config files
.env*.local

# TypeScript build info files
*.tsbuildinfo